// COLOURS
$ecru: #BFB48F; // body colour
$wenge: #564E58; // card colour 2
$cordovan: #b6545d; // card colour 3 - #904E55 (old)
$isabelline: #040403; // 'dunno what' colour
$eerie-black: #252627; // typography colour
